In [87]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re
from numpy import NaN
from pandas import isnull
from project2 import result_df


df_raw = pd.read_csv ('./data/bestsellers_with_categories.csv', encoding='unicode_escape')

# I want to check out the columns that appear in the original dataset (.csv)
df_raw

ModuleNotFoundError: No module named 'project2'

In [8]:
df_raw.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

In [11]:
df_raw["Genre"].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [20]:
df_raw2 = pd.read_csv ('./data/books_1.Best_Books_Ever.csv', encoding='unicode_escape')
df_raw2

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPrÃ© (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52473,11492014-fractured,Fractured,Fateful #2,Cheri Schmidt (Goodreads Author),4.00,The Fateful Trilogy continues with Fractured. ...,English,2940012616562,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",[],...,NaN,[],871,"['311', '310', '197', '42', '11']",94.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,NaN
52474,11836711-anasazi,Anasazi,Sense of Truth #2,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...",English,9999999999999,"['Mystery', 'Young Adult']",[],...,August 3rd 2011,[],37,"['16', '14', '5', '2', '0']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,NaN
52475,10815662-marked,Marked,Soul Guardians #1,Kim Richardson (Goodreads Author),3.70,--READERS FAVORITE AWARDS WINNER 2011--Sixteen...,English,9781461017097,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",[],...,March 15th 2011,"[""Readers' Favorite Book Award (2011)""]",6674,"['2109', '1868', '1660', '647', '390']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,7.37
52476,11330278-wayward-son,Wayward Son,NaN,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,A POWERFUL TREMOR UNEARTHS AN ANCIENT SECRETBu...,English,9781450755634,"['Fiction', 'Mystery', 'Historical Fiction', '...",[],...,April 5th 2011,[],238,"['77', '78', '59', '19', '5']",90.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,2.86
52477,10991547-daughter-of-helaman,Daughter of Helaman,Stripling Warrior #1,Misty Moncur (Goodreads Author),4.02,Fighting in Helaman's army is Keturah's deepes...,English,9781599554976,"['Lds Fiction', 'Historical Fiction', 'Young A...",[],...,NaN,[],246,"['106', '73', '42', '17', '8']",90.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,5.20

In [16]:
df_raw2.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price'],
      dtype='object')

In [46]:
# I remove the unknown ISBN! 

df_raw2 = df_raw2[df_raw2["isbn"]!= '9999999999999']
df_raw2

48124

In [89]:
## top 20 more valued authors! (considering rating * numRatings)

df_author =  df_raw2[["author", "rating", "numRatings"]]

auth=[]
for names in df_author["author"]:
    names = names.split(",")
    newname = names[0].split("(")
    auth.append(newname[0])

df_author["author"]= auth
df_author_grouped = df_author.groupby("author").mean()

df_author_grouped.sort_values("rating", ascending=False, inplace=True)

df_author_grouped = df_author_grouped.drop(df_author_grouped[df_author_grouped.rating == 0].index)

df_author_grouped["all_rate"] = df_author_grouped["rating"]*df_author_grouped["numRatings"]

df_author_grouped.sort_values("all_rate", ascending=False, inplace=True)
df_author_grouped.head(20)

/var/folders/7s/v9wty4qj3t1cw493y3p29dbc0000gn/T/ipykernel_94153/571029936.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_author["author"]= auth

                       rating    numRatings      all_rate
author
Arthur Golden        4.120000  1.717312e+06  7.075325e+06
Emily BrontÃ«        3.860000  1.342664e+06  5.182683e+06
Paula Hawkins        3.755000  1.196602e+06  4.493241e+06
Delia Owens          4.470000  9.752840e+05  4.359519e+06
Suzanne Collins      4.231667  9.868737e+05  4.176120e+06
Bram Stoker          4.000000  9.383250e+05  3.753300e+06
Tara Westover        4.470000  7.960190e+05  3.558205e+06
Stephenie Meyer      3.830909  8.343485e+05  3.196313e+06
J.D. Salinger        4.020000  7.756072e+05  3.117941e+06
Gail Honeyman        4.280000  7.084000e+05  3.031952e+06
Audrey Niffenegger   3.615000  8.318975e+05  3.007309e+06
Dan Brown            3.880000  7.569632e+05  2.937017e+06
Mary Ann Shaffer     4.170000  6.103920e+05  2.545335e+06
John Tiffany         3.620000  7.015410e+05  2.539578e+06
J.K. Rowling         4.374091  5.617907e+05  2.457324e+06
Rebecca Skloot       4.070000  5.871870e+05  2.389851e+06
Margaret Mitchell    4.370000  5.378150e+05  2.350252e+06
Stieg Larsson        4.313333  5.002917e+05  2.157925e+06
George Orwell        4.122500  5.179657e+05  2.135313e+06
Celeste Ng           3.980000  5.258640e+05  2.092939e+06

KeyError: 'author'